<html>
	<head><title>Login</title></head>
	<body align="center">
		<div style="text-align:center;margin-top:200px;padding:10px">
			<div style="width:250px;margin-left:40%;border:1px solid lightgray;padding:10px">

				<form action="login" method="post">
					username:<input type="text" name="username"/></br></br>
					password:<input type="password" name="password"/>
					<button style="margin:4px 10px;float:right;">Login</button>
				</form>
			<div style="height:10px"></div>
			</div>	
		</div>
	</body>
</html>
