.bystl {
	background-color: #FFFFF0;
}

.box1 {
	width: 740px;
	height: 395px;
	padding: 5px;
	margin: 0;
	vertical-align: center;
	font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #BFBFBF;
	background-color: #FFFFF0;
}

.box2 {
	vertical-align: center;
	width: 530px;
	padding: 1px;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	background-color: white;
	height: 310px;
}

.box3 {
	width: 170px;
	height: 25px;
}

input {
	height: 25px;
}

.text {
	width: 400px;
	height: 30px;
	border: 0 solid blue;
	margin: 1px;
	font-size: 16px;
}